COMPILER_INFO="gcc 10.3.1"
KERNEL="kernel"
KERNEL_BRANCH="5.10.0-121.0.0"
MUSLC_BRANCH="master"
COMMON_BRANCH="openEuler-22.03-LTS-Next"
GCC="gcc"
GCC_DIR="gcc-10.3.0"
BINUTILS="binutils"
BINUTILS_DIR="binutils-2.37"
MPFR="mpfr"
MPFR_DIR="mpfr-4.1.0"
GMP="gmp"
GMP_DIR="gmp-6.2.1"
MPC="libmpc"
MPC_DIR="mpc-1.2.0"
ISL="isl"
ISL_DIR="isl-0.16.1"
GLIBC="glibc"
GLIBC_DIR="glibc-2.34"
MUSLC="musl"
MUSLC_DIR="musl-1.2.3"
EXPAT="expat"
EXPAT_DIR="expat-2.4.1"
GETTEXT="gettext"
GETTEXT_DIR="gettext-0.21"
LIBICONV="libiconv"
LIBICONV_DIR="libiconv-1.16"
NCURSES="ncurses"
NCURSES_DIR="ncurses-6.3"
ZLIB="zlib"
ZLIB_DIR="zlib-1.2.11"
GDB="gdb"
GDB_DIR="gdb-11.1"
